/* color.css */

:root {
    --grey0: #303030;
    --grey1: #383838;
    --grey2: #505050;
    --grey3: #606060;

    --blue0: #1040c0;
    --blue1: #4d79ff;
    --blue2: #558cff;
    
    --green0: #005000;
    --green1: #209020;
    --green3: #30a030;

    --red0: #500000;
    --red1: #d02020;
    --red2: #f04040;
}
