body {
    background-color: #606060;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin:0;
}

.bg {
    background: url('/img/bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: blur(1em);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.flex-table {
    display:flex;
    justify-content: center;
    }

#back-box {
    width: 68em;

    text-align: center;
    margin: auto;
    margin-top: 5em;
    background: var(--grey2)!important;

}

#searchbar {
    width: 42em;
    height: 2em;
}

.flex-row {
    margin: 2em;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#layout {
    border-spacing: 2em;
}


@media screen and (min-width:3500px) {

    #layout {
        border-spacing: 2em;
        width: 2em;
    }

    #back-box {
        width: 92em;

    }



    #searchbar {
        width: 92em;
        height: 2em;
    }

}

@media screen and (max-width:1200px) {

    #layout {
        border-spacing: 2em;
        width: 2em;
    }

    #back-box {
        width: 46em;


    }



    #searchbar {
        width: 24em;
        height: 2em;
    }

}

@media screen and (max-width:825px) {

     #layout {
        border-spacing: 2em;
        width: 2em;
    }

    #back-box {
        width: 36em;

    }



    #searchbar {
        width: 24em;
        height: 2em;
    }

    @media screen and (max-width:600px) {

        #layout {
           border-spacing: 2em;
           width: 2em;
       }
   
       #back-box {
           width: 25em;
   
       }
   
   
   
       #searchbar {
           width: 24em;
           height: 2em;
       }

}

