body {
    background-color: #606060;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin:0;
}

.bg {
    background: url('/img/bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: blur(1em);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#back-box {
    width: 68em;
    height: 28em;
    text-align: center;
    margin: auto;
    margin-top: 5em;
    background: var(--grey2)!important;
    overflow: auto;
}

#searchbar {
    width: 42em;
    height: 2em;
}

#asearchbar {
    padding: 0.5em;
    border-radius: 0.3em;
    border: none;
    margin-bottom: 0.3em;
    background-color: #383838;
    color: white;
    width: 42em;
    height: 2em;
    outline: none;
    border: 0.1em solid transparent;
    transition: 0.25s;
	box-shadow: 0px 0.7em #303030;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#layout {
    border-spacing: 2em;

}


@media screen and (max-width:1200px) {

    #layout {
        border-spacing: 2em;
        width: 2em;
    }

    #back-box {
        width: 46em;
        height: 15em;

    }



    #searchbar {
        width: 24em;
        height: 2em;
    }

}

@media screen and (max-width:825px) {

    #layout {
        border-spacing: 2em;
        width: 2em;
    }

    #back-box {
        width: 36em;
        height: 15em;

    }



    #searchbar {
        width: 24em;
        height: 2em;
    }

}

