body {
    background-color: #606060;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


#bbox {
    background-color: #505050;
    color: white;
    width: 42em;
    height: 28em;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    margin: auto;
    margin-top: 5em;
	box-shadow: 0px 0.7em #303030;
    overflow: auto;
}

#searchbar {
    padding: 0.5em;
    border-radius: 0.3em;
    border: none;
    margin-bottom: 0.3em;
    background-color: #383838;
    color: white;
    width: 42em;
    height: 2em;
    outline: none;
    border: 0.1em solid transparent;
    transition: 0.25s;
	box-shadow: 0px 0.7em #303030;
}

#searchbar:hover {
    outline: none;
    border: 0.1em solid #4d79ff;
    transition: 0.5s
}

#searchbar:focus {
    outline: none;
    border: 0.1em solid #4d79ff;
    transition: 0.5s
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#layout {
    border-spacing: 2em;

}

.teamimg {
    width: 2em;
    height: 2em;
}

.result {
    border-radius: 0.3em;
    background-color: #383838;
    color: white;
    height: 2em;
    width: 100%;
    display: table;
    position: relative;

}

.linktext {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.placement {
    font-size: 1.6em;
}

.itemName {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 13em;
}

.itemWL {
    width: 15em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.itemELO {
    width: 4em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.itemPlacement {
    width: 5em;
    text-overflow: ellipsis;
    overflow: hidden;
}


.result:hover>.popup {
    background-color: #4d79ff;
    display: block;
    opacity: 1;
    transition: 0.25s;

}

.popup {
    border-radius: 0.3em;
    background-color: white;
    color: white;
    height: 100%;
    width: 100%;
    z-index: 300;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25s;
    opacity: 0;
}

.itemWLMobile {
    display: none;
}

@media screen and (max-width:730px) {

    #layout {
        border-spacing: 2em;
        width: 2em;
    }

    #bbox {
        background-color: #505050;
        color: white;
        width: 24em;
        height: 15em;
        border-radius: 2em;
        padding: 1em;
        text-align: center;
        margin: auto;
        margin-top: 5em;
        box-shadow: 0px 0.7em #303030;
    }

    .placement {
        font-size: 1.6em;
    }


    #searchbar {
        padding: 0.5em;
        border-radius: 0.3em;
        border: none;
        margin-bottom: 0.3em;
        background-color: #383838;
        color: white;
        width: 24em;
        height: 2em;
        outline: none;
        border: 0.1em solid transparent;
        transition: 0.5s;
    }

    .result {
        border-radius: 0.3em;
        background-color: #383838;
        color: white;
        height: 2em;
        width: 100%;
        display: table;
        position: relative;
        font-size: smaller;
    }

    .itemName {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 7em;
    }

    .itemWL {
        width: 9em;
        text-overflow: ellipsis;
        overflow: hidden;
        display: none;
    }

    .itemWLMobile {
        width: 9em;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }

    .itemELO {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .itemPlacement {
        width: 2.3em;
        text-overflow: clip '.';
        overflow: hidden;
    }

    .placement {
        font-size: 1.1em;
        position: relative;
    }
}