@import "color.css";

body{
    background-color: #606060;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#back-box {
    width: 18em;
    height: 16em;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    background: var(--grey2)!important;
}

table {
    margin-left: auto;
    margin-right:auto;
}

@media screen and (max-width:730px) {
    .back-box {
    width: 22em;
    height: 20em;
    margin-top: 35%;
}
}
