/* match.css */

html, body {
	background-color: #606060;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: white;
}

/* NOTE(lucas): Styles specific to the match page */

/* TODO(lucas): Mobileify everything! */

.match-content {
	background-color: #505050;
	margin: 0 auto;
	width: 80em;
	min-height: 100%;
	max-width: 100%;
	box-shadow: 0.25em 0.25em 8px #303030;
}

.match-content h1, h2, h3, h4 {
	margin: 0;
	padding: 0.35em;
}

.match-border {
	border: 1px solid #000000;
}

.match-team-img {
	margin: 0.5%;
	width: 15em;
	max-width: 80%;
	height: auto;
}

.match-submit {
	padding: 0.5em;
	border-radius: 0.3em;
	color: white;
	border: 1px solid #3d59ff;
}

.match-submit:hover {
	border: 1px solid white;
	cursor: pointer;
}

.match-select-player input, select {
	border: 1px solid black;
	padding: 0.7em;
	margin: 0.5%;
}

.match-player-img {
	border: 1px solid black;
	min-width: 4em;
	width: 8%;
	margin: 0.1%;
}

.match-team-players {
	background: #383838;
	padding: 0.5vw;
	margin: 0.7vw;
	border-radius: 0.5vw;
}

.match-content-box {
	background: #383838;

	padding: 1vw;

	margin: 0.7vw;
	margin-top: 1.7em;
	margin-bottom: 1.7em;

	border-radius: 0.5vw;
}

.match-shadow-box {
	box-shadow: 0px 0.7em #303030;
}

/* TODO(lucas): Move this! */
.button-submit {
	background-color: #4d79ff;
	color: white;
	margin: 0.5%;
	padding: 1em 1.5em 1.0em 1.5em;
}

.button-submit:active {
	filter: brightness(110%);
}

.line-wide {
	margin: 0 auto;
	width: 98%;
	height: 3px;
	background-color: #383838;
}

/* NOTE(lucas): We probably want to have this on many places */
.basic-interactive:hover {
	border: 1px solid white;
}
