/* match.css */

html, body {
	/* background: url("/img/quake.jpeg");
	background-size: cover;
	background-attachment: fixed; */
	background-color: var(--grey3);

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: white;
}

/* NOTE(lucas): Styles specific to the match page */

.content-column h1, h2, h3, h4, p {
	margin: 0;
	padding: 0.35em;
}

.match-team-content {
	display: flex;
	align-items: center;
}

.match-team-img {
	object-fit: cover;
	margin: 0.5%;
	width: 15em;
	height: 15em;
	max-width: 80%;
}

.match-player-img {
	object-fit: cover;
	width: 5em;
	height: 5em;
	margin: 0.1%;
}

.match-content-box {
	background: var(--grey1);

	padding: 1vw;

	margin: 0.7vw;
	margin-top: 1.7em;
	margin-bottom: 1.7em;

	border-radius: 0.5vw;
}

.match-shadow-box {
	box-shadow: 0px 0.7em #303030;
}

#match-result {
	padding: 0.35em;
}

.button-submit:active {
	filter: brightness(110%);
}

.match-button {
	margin: 0.5em;
}

.line-wide {
	margin: 0 auto;
	width: 98%;
	height: 3px;
	background-color: #383838;
}

/* Search overlay */

.match-search-overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
	position: fixed;
	background: #000000aa;
	opacity: 0;
}

.match-search-overlay-content {
	width: 100%;
	height: 100%;
}

.match-search-overlay.active {
	opacity: 1;
	display: block;
}

.match-search-overlay-content {
	text-align: center;
	margin: 2.5vw auto;
	max-width: 80%;
	width: 50em;
}

.match-search-overlay form {
	padding: 1vw;
	background: var(--grey2);
	border-radius: 0.5vw;
}

.match-search-results {
	margin: 0 auto;
	max-height: 50%;
	width: 95%;
	overflow-y: scroll;
}

.match-search-item {
	display: flex;
	align-items: center;
	background: var(--grey2);
	margin: 1em;
	border-radius: 0.5vw;
	text-align: left;
}

.match-search-item:hover {
	filter: brightness(115%);
	cursor: pointer;
}

.match-search-item img {
	object-fit: cover;
	width: 4em;
	height: 4em;
	margin: 1em;
}

.match-search-overlay .closebox {
	background-color: #d02020;
	border-radius: 0.3em;
	width: 2vw;
	height: 1vw;
	min-width: 1.5em;
	min-height: 1.5em;
	margin: 1%;
	margin-left: 100%;
	padding: 0.35em;
	color: white;
	text-align: center;
}

.match-search-overlay .closebox:hover {
	filter: brightness(115%);
	cursor: pointer;
}

.match-search-overlay input {
	width: 95%;
	box-sizing: border-box;
}

.overlay-popup {
	display: block;
}

.match-search {
	display: block;
	height: 100%;
}

.hidden {
	display: none;
}
