/* navbar.css */

@import "color.css";

body {
    padding-top:4vw;
}

.navbar {
    z-index:99;
    box-shadow: 0 0.5vw var(--grey0);
    background-color: var(--grey0);
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4vw;
    line-height: 4vw;
}

.navbar a, .navbar dropdown{
    text-align: center;
    vertical-align: middle;
    padding: 2vw 2vw;
    text-decoration: none;
		width: 100%;
    font-size: 2vw;
}

.nav-image{
    width:2vw;
    height:2vw;
}

.navbar a:hover{
	background-color: var(--grey2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
	background-color: var(--grey0);
	z-index: 999;
}

.dropdown-content a {
    padding: 0.5vw 1.5vw;
		width: 100%;
    text-decoration: none;
    display: block;
    text-align: left;
		z-index: 1000;
}