/* navbar.css */

@import "color.css";

body {
    padding-top:3.25rem;
}

.navbar {
    z-index:99;
    background-color: var(--grey1);
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
}

.navbar a, .navbar .dropdown{
    text-align: center;
    text-decoration: none;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.navbar a {
    flex-grow: 1;
}

.nav-image{
    width:1.2rem;
    margin-left: 1rem;
}

.navbar a:hover{
	background-color: var(--grey2);
}

.dropdown {
    display: inline-block;
    width: 8rem;
}

.dropdown-content {
	display: none;
	position: absolute;
    right: 0;
    top: 3rem;
	background-color: var(--grey0);
    z-index: 999;
    width: 8rem;
}

.dropdown-content.active {
    display: block;
}

.dropdown-content span{
	width: 100%;
}

.dropdown-content a {
    display: block;
    z-index: 1000;
    white-space:nowrap;
    width: 100%;
}

.navbar .button {
    display: none;
}

@media screen and (max-width: 680px) {
    body {
        padding-top: 5rem;
    }

    .navbar {
        flex-direction: column;
        height: initial;
        top: -11.5rem;
        transition: top 0.1s;
    }

    .navbar.active {
        top: 0;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown a {
        display: none;
    }
    
    .dropdown-content {
        display: block;
        position: static;
        width: 100%;
	    background-color: var(--grey1);
    }

    .dropdown-content span {
        display: flex;
    }

    .dropdown-content a {
        display: block;
        width: 100%;
    }

    .navbar .button {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        padding: 2vw;
    }
}
