/* navbar.css */

@import "color.css";

body {
    padding-top:4vw;
}

.navbar {
    z-index:99;
    box-shadow: 0 0.5vw var(--grey0);
    background-color: var(--grey1);
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 4vw;
}

.navbar a, .navbar dropdown{
    text-align: center;
    padding: 0.75vw 2vw;
    text-decoration: none;
		width: 100%;
		height: 4vw;
    font-size: 2vw;
		box-sizing: border-box;
}

.nav-image{
    width:2vw;
    height:2vw;
}

.navbar a:hover{
	background-color: var(--grey2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
	height: 4vw;
	background-color: var(--grey0);
	z-index: 999;
}

.dropdown-content span{
	width: 100%;
	height:100%;
	line-height: 2vw;
}

.dropdown-content a {
	display: block;
	z-index: 1000;
}