html, body {
    width: 100%;
    margin: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #606060;
}

.midbar {
    max-width: 70%;
    margin: 0 auto;
    background: #505050;
    min-height: 100%;
    padding: 1vw;
    box-sizing: border-box;
}

.profileboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.bioboxes {
    width: 95%;
    display: flex;
    margin: 0 auto;
    /*filter: drop-shadow(0 0.4em 0 #303030);*/
    padding-top: 1vw;
    margin-top: -2vw;
    border-radius: 1vw;
    background: #383838;
    position: relative;
    z-index: 1;
    margin-bottom: 1vw;
}

.shadowbox {
    margin-bottom: 1vw;
}

.profilebox {
    box-sizing:border-box;
    padding: 2vw;
    width: 50%;
    color: white;
}

.profilebox-wide {
    width: 100%;
}

.profilebox-separator{
    border-right: 3px #383838 solid;
}

.bioboxes .username, .bioboxes .bio {
    overflow: auto;
    padding-left: 2vw;
    padding-bottom: 1vw;
    display: block;
}

.bioboxes .statbox {
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

.bioboxes .statbox .val {
    height: 100%;
    display: inline-block;
    font-size: 2rem;
}

.bioboxes .statbox .label {
    margin-right: 1vw;
    font-size: 2rem;
    display: inline-block;
}

.profilebox h3, .profilebox h4{
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1vw;
    height: 2rem;
}

.profilebox h4 {
    font-size: 1rem;
}

.profilepic {
    width: 10vw;
    height: 10vw;
    display: inline-block;
    float: left;
}

.profilepic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.matchbox { /*MOVE TO MATCHBOX CSS*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5vw;
    transition: background 0.1s;
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
}

.matchbox:hover {
    background: #454545;
}

.matchbox .versus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.matchbox .versus .marker {
    font-size: 2rem;
    text-align: center;
}

.matchbox .versus .matchresult {
    text-align: center;
}

.matchbox .profilepic {
    width: 5vw;
    height: 5vw;
}

.matchbox .team {
    display: flex;
    align-items: center;
    max-width: 40%;
    flex-grow: 1;
}

.matchbox .team.team2 {
    justify-content: right;
}

.matchbox .editbutton {
    width: 100%;
    text-align: center;
}

.matchbox .team .label {
    font-size: 1.2rem;
    display: block;
}

.matchbox .team .label:first-child {
    margin-right: 1vw;
    text-align: right;
}

.matchbox .team .label:last-child {
    margin-left: 1vw;
}

.teambox {
    display: flex;
    justify-content: space-between;
    background: #383838;
    border-radius: 0.5vw;
    /*filter: drop-shadow(0 0.4em 0 #303030);*/
    box-sizing: border-box;
    padding: 1vw;
    /*margin-bottom: 1vw;*/
    position: relative;
    z-index:1;
    align-items: center;
    transition: background 0.1s;
}

.teambox.active {
    background: #4d79ff;
}

.teambox:hover {
    background: #454545;
}

.teambox.active:hover {
    background: #668cff;
}

.teambox .profilepic {
    width: 5vw;
    height: 5vw;
}

.teambox .profile {
    display: flex;
    align-items: center;
}

.teambox .profile .label {
    font-size: 1.2rem;
    display: block;
    margin-left: 1vw;
}

.teambox .stats {
    display: flex;
    flex-direction: column;
}

.kickbutton {
    height: 3vw;
}

.kickbutton .shadow {
    background: #500000;
    height: 3vw;
    margin-top: -2.5vw;
}

.kickbutton a {
    background: #d02020;
    /*padding: 1vw;*/
    border-radius: 0.5vw;
    display: block;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    width: 7vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    transition: background 0.1s;
}

.kickbutton a:hover {
    background: #f04040;
}

.teambox .acceptbutton {
    height: 3vw;
}

.teambox .acceptbutton .shadow {
    background: #005000;
    height: 3vw;
    margin-top: -2.5vw;
}

.teambox .acceptbutton a {
    background: #209020;
    /*padding: 1vw;*/
    border-radius: 0.5vw;
    display: block;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    width: 7vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    transition: background 0.1s;
}

.teambox .acceptbutton a:hover {
    background: #30a030;
}

@media only screen and (max-width: 1200px) {
    .profileboxes {
        flex-direction: column;
    }

    .profilebox-tall {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .profilebox-separator {
        border-right: none;
    }

    .profilebox-tall.members .shadowbox {
        width: calc(50%);
    }

    .profilebox-tall h3, .profilebox-tall h4 {
        width: 100%;
    }

    .teambox {
        /*margin: 0.5vw;*/
    }

    .matchbox {
    }

    .bioboxes {
        flex-direction:column;
    }

    .bioboxes .profilebox {
        width: 100%;
    }

    .bioboxes .statbox {
        display: inline-block;
        width: calc((100% - 4vw) / 3 );
        text-align: center;
    }
}

@media only screen and (max-width: 1100px) {
    .teambox {
        width: 100%;
    }

    .profilebox-tall.members .shadowbox {
        width: 100%;
    }


    .bioboxes .statbox .label, .bioboxes .statbox .val {
        font-size: 1.5rem;
    }
    
    .bioboxes .bio {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 800px) {
    .profilepic {
        width: 15vw;
        height: 15vw;
    }

    .matchbox .profilepic, .teambox .profilepic {
        width: 7vw;
        height: 7vw;
    }

    .bioboxes .statbox .label, .bioboxes .statbox .val {
        font-size: 1.3rem;
    }

    .bioboxes, .matchbox, .teambox, .shadow {
        border-radius: 1.1vw;
    }

    .bioboxes .bio {
        font-size: 0.8rem;
    }

    .teambox .kickbutton a {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 600px) {
    .midbar {
        max-width: 90%;
    }

    .matchbox, .teambox {
        padding: 2vw;
    }

    .matchbox .profilepic, .teambox .profilepic {
        width: 10vw;
        height: 10vw;
    }

    .teambox .kickbutton {
        height: 6vw;
    }

    .teambox .kickbutton a {
        height: 6vw;
        line-height: 6vw;
    }
}

@media only screen and (max-width: 450px) {
    .profilepic {
        width: 20vw;
        height: 20vw;
    }

    .bioboxes .statbox .label, .bioboxes .statbox .val {
        font-size: 0.95rem;
    }

    .matchbox .versus .marker {
        font-size: 1.5rem;
    }

    .teambox .profile .label {
        font-size: 1rem;
    }

    .teambox .stats {
        font-size: 0.8rem;
    }

    .bioboxes, .matchbox, .teambox, .shadow {
        border-radius: 2vw;
    }

    .bioboxes .bio {
        font-size: 0.7rem;
    }

    .profilebox h4 {
        font-size: 1rem;
    }

    .profilebox h3 {
        font-size: 1.5rem;
    }

    .teambox .kickbutton {
        height: 8vw;
    }

    .teambox .kickbutton a {
        width: 12vw;
        height: 8vw;
        line-height: 8vw;
    }
}

@media only screen and (max-width: 350px) {
    .bioboxes .statbox .label, .bioboxes .statbox .val {
        font-size: 0.8rem;
    }
}
