.profile-box {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 1.5vw;
    position: relative;
    z-index:1;
    align-items: center;
    transition: background 0.1s;
    text-align: left;
}

.profile-box.active {
    background: #4d79ff;
}

.profile-box:hover {
    background: #454545;
}

.profile-box.active:hover {
    background: #668cff;
}

.profile-box .profilepic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-box img#leader-crown {
    display: none;
}

.profile-box.leader img#leader-crown {
    display: block;
    width: 40%;
    height: 40%;
    position: relative;
    top: -120%;
    left: -15%;
}

.profile-box .profilepic {
    width: 5vw;
    height: 5vw;
    float: left;
}

.profile-box .profilepic.profilepic-small {
    width: 3rem;
    height: 3rem;
}

.profile-box .profile {
    display: flex;
    align-items: center;
}

.profile-box .profile .rank {
    font-size: 1.25rem;
    width: 5vw;
    max-width: 6rem;
}

.profile-box:hover .basic-interactive {
    border: 1px solid white;
}

.profile-box:hover .label span {
    text-decoration: underline;
}

.profile-box:hover {
    cursor: pointer;
}

.profile-box .label {
    font-size: 1.2rem;
    margin-left: 1vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    text-decoration: none;
    color: white;
}

.profile-box .stats {
    display: flex;
    flex-direction: column;
}

.profile-box .score {
    font-size: 1.25rem;
}

.profile-box .stats.stats-short {
    flex-direction: row;
    justify-content: space-between;
}

.profile-box .stats.stats-short span {
    padding: 0 1rem;
}

@media only screen and (max-width: 1100px) {
    .profile-box {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .profile-box .profilepic {
        width: 7vw;
        height: 7vw;
    }
}

@media only screen and (max-width: 600px) {
    .profile-box .profilepic {
        width: 10vw;
        height: 10vw;
    }
}

@media only screen and (max-width: 450px) {
    .profile-box .profilepic {
        width: 13vw;
        height: 13vw;
    }

    .profile-box .label {
        font-size: 1rem;
    }

    .profile-box .stats {
        font-size: 0.8rem;
    }
}
