html, body {
    width: 100%;
    margin: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tablayout {
    height: 100%;
}

.tablayout .tabs {
    float: left;
    height: 100%;
    width: 15%;
    background: #505050;
    /*filter: drop-shadow(0.5em 0.4em 0.4em #383838);*/
}

.tablayout .tabs .tab {
    height: 7vh;
    line-height: 7vh;
    padding-left: 0.5vw;
    box-sizing: border-box;
    background: #383838;
    transition: color, background 0.5s;
    color: #aaaaaa;
}

.tablayout .tabs .tab:nth-child(2) {
    background: #303030;
}

.tablayout .tabs .tab.active {
    background: #4d79ff;
    color: white;
}

.tablayout .tabs .tab:hover {
    background: #606060;
    color: white;
}

.tablayout .tabs .tab.active:hover {
    background: #668cff;
}

.tablayout .tabcontents {
    float: right;
    width: 85%;
    padding: 1vw;
    box-sizing: border-box;
    height: 100%;
    background: #505050;
}

.tablayout .tabcontents::before {
    content: "";
    background: #303030;
    position: relative;
    width: 0.5vw;
    height: calc(100% + 2vw);
    display: block;
    left: -1vw;
    top: -1vw;
    float: left;
}

.tablayout .tabcontents::after {
    content: "";
    background: #303030;
    width: calc(100% + 2vw);
    height: 0.5vw;
    display: block;
    position: relative;
    float: left;
    top: calc(-100% - 3vw);
    left: -1vw;
}

.tablayout .tabcontents .tabcontent {
    display: none;
}

.tablayout .tabcontents .tabcontent.active {
    display: block;
}

@media only screen and (max-width: 900px), (max-height: 450px) {
    .tablayout .tabs {
        float: none;
        width: 100%;
        height: 12vh;
        filter: drop-shadow(0 0.4em 0.4em #383838);
    }

    .tablayout .tabs .tab {
        display: inline-block;
        padding-right: 0.5vw;
        padding-left: 2vw;
        padding-right: 2vw;
        height: 12vh;
        line-height: 12vh;
    }
    
    .tablayout .tabcontents {
        float: none;
        width: 100%;
        overflow: auto;
    }
}
