.tab-container {
    background: #383838;
    border-radius: 0.5vw;
    padding: 1vw;
    height:calc(100vh - 6vw);
}

.tabcontent .profile-box {
    margin-bottom: 1.5rem;
}

.tablayout .tabs {
    background: #383838;
}

.add-member {
    width: 100%;
    margin-top: 1vw;
    text-align: center;
}

.team-bio form {
    display: flex;
    flex-wrap: wrap;
}

.team-bio form input, .team-bio form textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5vw;
}

.team-bio form input[type=submit] {
    width: initial;
}

.team-bio form label {
    width: 100%;
}

.team-bio form .other-controls {
    display: flex;
    flex-direction: column;
    width: 75%;
    box-sizing: border-box;
    padding: 0 1vw;
}

.team-bio form .img-controls {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
}

.team-bio form .img-controls .profilepic {
    width: 100%;
    height: 100%;
}

.button-container {
    margin-top: 2vw;
    width: 100%;
    text-align: center;
}
