.tab-container {
    background: #383838;
    border-radius: 0.5vw;
    padding: 1vw;
    height:calc(100vh - 6vw);
}

.tabcontent .profile-box {
    margin-bottom: 1.5rem;
}

.tablayout .tabs {
    background: #383838;
}

.add-member {
    width: 100%;
    margin-top: 1vw;
    text-align: center;
}

.team-bio form {
    display: flex;
    flex-direction: column;
}

.team-bio form input, .team-bio form textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5vw;
}

.team-bio form textarea {
    resize: vertical;
}

.team-bio form input[type=submit] {
    width: initial;
}

.team-bio form label {
    /*width: 100%;*/
}

.team-bio form .other-controls {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 1vw;
}

.team-bio form .img-controls input {
    width: 100%;
    text-align: center;
}

.team-bio form .img-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.team-bio form .img-controls label i {
    font-size: 0.75rem;
}

.team-bio .img-controls .img-controls-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
}

.button-container {
    margin-top: 2vw;
    width: 100%;
    text-align: center;
}
